asgiref==3.2.3
certifi==2019.9.11
chardet==3.0.4
decorator==4.4.1
dj-database-url==0.5.0
Django==3.0.2
django-crispy-forms==1.8.1
django-heroku==0.3.1
gmane==0.1.dev25
GroupyAPI==0.10.3
gunicorn==20.0.4
idna==2.7
networkx==2.4
Pillow==6.0.0
psycopg2==2.8.4
psycopg2-binary==2.8.4
pytz==2019.3
requests==2.20.1
sqlparse==0.3.0
splinter==0.13.0
social==0.1.dev3
social-auth-app-django==3.1.0
social-auth-core==3.2.0
urllib3==1.24.3
whitenoise==5.0.1

