{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'user\home.css' %}">
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <h1 class="welcome">Welcome back, {{ user.first_name }}! </h1>
        </div>


        <div class="row justify-content-center">
            <div class="col-md-6 listView">
            {% if available_tutors %}
            <h2>List of available tutors</h2> 
            {% for tutor in available_tutors %}
                <div class="list-group"> 
                    <div class="row justify-content-center">
                        <a data-toggle="modal" href="" data-target="#{{tutor.user}}" class="list-group-item listItem" >{{tutor.user}}</a> 
                
                    </div>
                </div>

                <!-- <div>{{ tutor.user }}</div> -->

                <div class="modal fade" id="{{tutor.user}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h3 class="modal-title">{{tutor.user}}'s Profile</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        {% ifequal tutor.year None %}
                        <p>Year: N/A</p>
                        {% else %}
                            <p>Year: {{tutor.year}}</p>
                        {% endifequal %}
                        <p>Bio: {{tutor.bio}}</p>
                        <p>Location: {{tutor.location}}</p>
                        <p>Classes I can help with: {{tutor.classes_taken}}</p>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                    </div>
                </div>



            {% endfor %}
            {% else %}
                <h2>Welcome {{ user.first_name }}! </h2>
                <p>Unfortunately, no tutors are available right now.</p>
            {% endif %}
            </div>

            <div class="col-md-6">
                <h4>map will go here maybe?</h4>
            </div>



        </div>

        <h5>Inbox</h5>
            {% if inbox %}
                {% for m in inbox %}
                    <br>
                    <div class="col-md-6">
                        <p>From {{ m.sender }}</p>
                        <p>{{m.msg_content}}</p>
                    </div>
                {% endfor %}
            {% else %}
                <p>fart</p>
            {% endif %}


        {% endblock %}

        

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </div>
</body>
