{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}

<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
<link rel="stylesheet" type="text/css" href="{% static 'user/send.css' %}">

<body>
	<div class="container">
		<div class="text-center">
			<h6 class="display-4" style="margin-top: 8rem; margin-bottom: 1rem;">Inbox</h6>
			<p>Click to see messages between you and another user</p>
			{% if pen_pals %}
				<div class="pens">
				{% for pal in pen_pals %}
					<div class="list-group">
						<div class="row justify-content-center">
							<a href="{% url 'log' pal.username %}" class="list-group-item listItem" >{{pal.first_name}} {{pal.last_name}}</a>
						</div>
					</div>
				{% endfor %}
				</div>
			{% else %}
				<p>No messages yet</p>
			{% endif %}
		</div>
	</div>
</body>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock %}
