{% extends 'base.html' %}
{% load static %}
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'stat\about.css' %}">
<div class="container">

    <div class="row justify-content-center tl">
        <h1>About QuickTutor</h1>
    </div>

    <hr/>

    <div class="row justify-content-center content">
        <div class="col-md-10">
            <p class="text-justify">QuickTutor's mission is to bring together students in need of help, and other available students nearby who are willing to help through our seamless modern platform.   </p>
        </div>
        <div class="col-md-10">
            <p class="text-justify"><strong>Our Team:</strong></p>
        </div>
        <div>
            <p><img src="/media/stephen.jpg" alt="pic" height="150" width="150" style="float:left"> 
                Stephen Palathingal is a third-year student studying Computer Science with a minor in entrepreneurship.
                <br> 
                He is the <strong>DevOps Manager</strong> for the team.
            </p>
            <br style="line-height:6;">
            <p><img src="/media/belen.jpg" alt="pic" height="150" width="150" style="float:left"> 
                Belen is a third-year student studying Computer Science and Cognitive Science, with a concentration in Linguistics.
                <br> 
                She is the <strong>Requirements Manager</strong> for the team.
            </p>
            <br style="line-height:6;">
            <p><img src="/media/default.jpg" alt="pic" height="150" width="150" style="float:left"> 
                Rowan is a third-year student studying ***insert stuff***.
                <br>
                He is the <strong>Insert Role</strong> for the team.
            </p>
            <br style="line-height:6">
            <p><img src="/media/default.jpg" alt="pic" height="150" width="150" style="float:left"> 
                Emma is a third-year student studying ***insert stuff***.
                <br> 
                She is the <strong>Insert Role</strong> for the team.
            </p>
            <br style="line-height:6;">
            <p><img src="/media/dan.jpg" alt="pic" height="150" width="150" style="float:left"> 
                Dan is studying Computer Science in the College of Arts and Sciences.
                <br> 
                He is the <strong>Scrum Master</strong> for the team.
            </p>
            <br style="line-height:6;">
        </div>        
    </div>

</div>
{% endblock %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>